[submodule "shiftly-frontend"]
	path = shiftly-frontend
	url = /Users/michal/Programowanie/Shiftly/shiftly-frontend
[submodule "shiftly-backend"]
	path = shiftly-backend
	url = https://github.com/AcidReef/Shiftly.git
